
<div id="recent_episodes">
  <h3>Recent Articles</h3>
  <%= link_to "Refresh", :remote => true, :controller => :feed_entries, :action => :live %>
  
   <ul id="feed_entries">
<% @feed_entries.each do |feed_entry| %>
<%= render "feed_entry", :feed_entry => feed_entry %>
<% end %>
  </ul>
</div>