<h1>Listing feeds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Feed url</th>
      <th>Feed Color</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

 <tbody id="feeds">
<% @feeds.each do |feed| %>
<%= render "feed", :feed => feed %>
<% end %>
</tbody>
</table>

<br>


<%= link_to 'New Feed', new_feed_path, :remote => true, :id => "new_feed_link" %>
