<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Feedme">
    <meta name="author" content="Ren Simmons">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
  <title>Feedme</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FeedMe</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Feed Settings</a></li>
            <li><a href="/feed_entries/refresh">Live Feed</a></li>
            <li><a href="/feeds/new">+ Add Feed</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    	<div id="page">
    		<div style="padding-top:65px;" class="container">
			<%= yield %>
		</div>
	</div>
</body>
</html>
